@{
    ViewData["Title"] = "Home Page";
}

@Html.ActionLink("Creating a Form", "Create")<br />
@Html.ActionLink("Loading a Form", "Load")<br />
@Html.ActionLink("Saving a Form", "Save")<br />
@Html.ActionLink("Exporting a Form to PDF", "Export")<br />

<br /><br />
<h4>@ViewBag.FormMessage</h4>